/* map container dimensins (explicit) */
body{
  margin:0;
  padding:0;
}
#map{
	height:550px;
	width: 100%;
}

.legend{
  background:white;
  line-height:1.5em;
  padding: 1%;
  overflow:hidden;
  height: auto;
}

 i{
   width:3em;
   float:left;
}

#bargraph, #piechart{
  height: 250px;
  width:100%;
  padding:3%;
}

select {
  width: 25%;
 height:auto;

}

.table{
    width:60%;
    border-radius: 3px;
    border-collapse:collapse;
    margin-top: 2%;
}

table tr{
    padding:0;
    width:100%;

}

table td, th{
    margin:0%;
    width:30%;
    border: 1px solid black;
}

.container-fluid{
  padding:0%;
  overflow:hidden;
}
.stats{
  margin-top:3%;
}

.media-heading{
  background-color:#345f4f10;
  color:#b30000;
  border-top:5px solid #b30000;
  height: 12vh;
  text-align: center;
}

h5{
  font-size:1.4em;
}

.media-body{
  color: #fc8d59;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.card{
  padding:0;
  border:none;
  font-style: italic;
  background-color: transparent;
}

.card-head{
  color: whitesmoke;
  margin: 0%;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
  padding-top: 10px;
}

.card-body{
 font-size: 1.2em;
 background-color: whitesmoke;
}

.leaflet-popup-content{
  margin:0px;
  background-color: crimson;
  overflow: hidden;
  border-radius: 6px;
}


.reset-view{
  padding:0px;
  width:28px;
  height: 30px;
  border: 1px blur black;
  border-radius: 2px;
  background-color: white;
  font: bold 18px 'Lucida Console', Monaco, monospace;
  font-size: 20px;
}

.reset-view p{
  line-height: 45px;


}
